<%- include("partials/header.ejs") %>
    <nav class="navbar bg-body-tertiary navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/images/favicon.ico" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                The Book Vault
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active mx-2" aria-current="page" href="#">Home</a>
                    <a class="nav-link mx-2" href="#">Features</a>
                    <button type="button" class="btn btn-primary mx-2">Login</button>
                    <button type="button" class="btn btn-primary mx-2">SignUp</button>
                </div>
            </div>
        </div>
    </nav>
    <!-- <h1>Hi</h1> -->
    <%- include("partials/footer.ejs") %>