<%- include("partials/header.ejs") %>
    <nav class="navbar fixed-top py-3 navbar-expand-lg ">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1 mx-4 noto animation" href="#">
                <img src="/images/favicon.ico" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                The Book Vault
            </span>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active mx-4 sans animation" aria-current="page" href="#">Home</a>
                    <a class="nav-link mx-4 sans animation" href="#s">About Us</a>
                    <a class="btn btn-primary mx-2 sans animation" href="/loginFromMain">Login</a>
                    <a class="btn btn-primary mx-2 sans animation" href="/signupFromMain" >SignUp</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="row mt-5 pt-5 bgimg">

        <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
            <h2 class="ps-4 noto animation">"There is no friend as loyal as a book." <br> - Ernest Hemingway</h2>
        </div>

    </div>
    <div class="mainBody px-4">

        <div id="s" class="services my-4">
            <h1 class="noto text-center animation">Our Services</h1>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 my-3 reveal1">
                    <div class="card blue">
                        <div class="card-body">
                            <h5 class="card-title noto">Discover Trusted Books And Reviews</h5>
                            <p class="card-text sans">Access a wealth of book reviews and ratings provided by our
                                community
                                of
                                readers. Make informed decisions with trusted recommendations, enabling you to choose
                                books
                                that resonate with your interests and preferences.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 my-3 reveal1">
                    <div class="card hover-blue">
                        <div class="card-body">
                            <h5 class="card-title noto"> Explore the World of eBooks</h5>
                            <p class="card-text sans"> Access a vast collection of eBooks and enjoy the convenience of
                                instant
                                downloads. Dive into captivating stories, informative non-fiction, and educational
                                resources, all available for online reading or offline reading with downloadable eBooks.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 my-3 reveal2">
                    <div class="card hover-blue">
                        <div class="card-body">
                            <h5 class="card-title noto">Enhance Your Reading Experience</h5>
                            <p class="card-text sans"> Discover a range of reading accessories and merchandise to
                                enhance
                                your
                                reading pleasure. From bookmarks and book lights to book-themed merchandise, find the
                                perfect accompaniment for your reading journey.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 my-3 reveal2">
                    <div class="card hover-blue">
                        <div class="card-body">
                            <h5 class="card-title noto">Get to Know the Masters of Literature</h5>
                            <p class="card-text sans">Delve deeper into the world of authors through our exclusive
                                author
                                spotlights and interviews. Gain valuable insights into their creative process, literary
                                influences, and personal anecdotes, connecting readers with the minds behind the words.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="famous my-4">
            <h1 class="noto text-center reveal1">Our Famous Books</h1>



            <div id="carouselExampleDark" class="carousel carousel-dark slide reveal1">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row mx-auto">
                            <div class="col-sm-12 col-md-6 col-lg-6 my-3">
                                <div class="card justify-content-center">
                                    <img class="mx-auto mt-4"
                                        src="http://books.google.com/books/content?id=1hfMDQAAQBAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api"
                                        alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title noto text-center ">Growing Flowers</h5>
                                        <p class="card-text sans text-center ">Everything You Need to Know About
                                            Planting, Tending, Harvesting
                                            and Arranging Beautiful Blooms</p>
                                        <p class="card-text sans text-center ">Author : Niki Irving</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 my-3 disp-hidden">

                                <div class="card justify-content-center">
                                    <img class="mx-auto mt-4"
                                        src="http://books.google.com/books/content?id=gq19CAAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api"
                                        alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title noto text-center">The Tree Habit in Land Plants</h5>
                                        <p class="card-text sans text-center">A Functional Comparison of Trunk
                                            Constructions with a Brief Introduction into the Biomechanics of Trees
                                        <p class="card-text sans text-center">Author : Volker Mosbrugger
                                        </p>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row mx-auto">
                            <div class="col-sm-12 col-md-6 col-lg-6 my-3">

                                <div class="card justify-content-center">
                                    <img class="mx-auto mt-4"
                                        src="http://books.google.com/books/content?id=nBuA0hmspdMC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api"
                                        alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title noto text-center">Effective JavaScript</h5>
                                        <p class="card-text sans text-center">68 Specific Ways to Harness the Power of
                                            JavaScript
                                        <p class="card-text sans text-center">Author : David Herman
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 my-3 disp-hidden">

                                <div class="card justify-content-center">
                                    <img class="mx-auto mt-4"
                                        src="http://books.google.com/books/content?id=OalPCwAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api"
                                        alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title noto text-center">Web Development with Go</h5>
                                        <p class="card-text sans text-center">Building Scalable Web Apps and RESTful
                                            Services
                                        <p class="card-text sans text-center">Author : Shiju Varghese
                                        </p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row mx-auto">
                            <div class="col-sm-12 col-md-6 col-lg-6 my-3">

                                <div class="card justify-content-center">
                                    <img class="mx-auto mt-4"
                                        src="http://books.google.com/books/content?id=QTqmDAEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api"
                                        alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title noto text-center">Emerging Space Powers</h5>
                                        <p class="card-text sans text-center">The New Space Programs of Asia, the Middle
                                            East and South-America
                                        <p class="card-text sans text-center">Author : Brian Harvey
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 my-3 disp-hidden">

                                <div class="card justify-content-center">
                                    <img class="mx-auto mt-4"
                                        src="http://books.google.com/books/content?id=Vd9oDwAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api"
                                        alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title noto text-center">Exploring Space</h5>
                                        <p class="card-text sans text-center">Space exploration is perhaps one of the
                                            coolest fields of study.
                                        <p class="card-text sans text-center">Author : Nancy Dickmann
                                        </p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                </button>
            </div>






        </div>

        <div class="faq sans py-4">
            <h1 class="noto text-center py-4">Frequently Asked Questions</h1>
            <div class="accordion py-4" id="accordionPanelsStayOpenExample">
                <div class="accordion-item my-3 reveal1">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseOne">
                            <strong> How do I sign up for an account on your website?</strong>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            To sign up for an account, simply click on the "Sign Up" button on the homepage and fill out
                            the registration form with your details.
                        </div>
                    </div>
                </div>
                <div class="accordion-item my-3 reveal1">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseTwo">
                            <strong>  Can I download books from your website?</strong>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            Yes, as a premium member, you can download books for offline reading on supported devices.
                            This feature allows you to enjoy your favorite books even when you're not connected to the
                            internet.
                        </div>
                    </div>
                </div>
                <div class="accordion-item my-3 reveal1">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseThree">
                            <strong> Are the books on your website compatible with e-readers?</strong>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            Yes, our platform supports various e-reader formats, including EPUB and PDF. You can easily
                            download books and transfer them to your e-reader device for a more dedicated reading
                            experience.
                        </div>
                    </div>
                </div>
                <div class="accordion-item my-3 reveal1">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseFour">
                         <strong>Is my personal information safe on your website?</strong>   
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            We take your privacy and data security seriously. Our website uses industry-standard
                            encryption protocols to protect your personal information. We do not share your data with
                            third parties without your consent. For more details, please refer to our Privacy Policy.
                        </div>
                    </div>
                </div>
                <div class="accordion-item my-3 reveal1">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                            aria-controls="panelsStayOpen-collapseFive">
                            <strong>  Do you have a mobile app for reading books on smartphones or table</strong>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            Yes, we offer a mobile app for both iOS and Android devices. You can download our app from
                            the respective app stores and access your favorite books on the go, with all the features
                            and functionality available on our website.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>