<%- include("partials/header.ejs") %>
    <nav class="navbar fixed-top py-3 navbar-expand-lg">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1 mx-4" href="#">
                <img src="/images/favicon.ico" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                The Book Vault
            </span>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active mx-4" aria-current="page" href="#">Home</a>
                    <a class="nav-link mx-4" href="#">About Us</a>
                    <button type="button" class="btn btn-primary mx-2">Login</button>
                    <button type="button" class="btn btn-primary mx-2">SignUp</button>
                </div>
            </div>
        </div>
    </nav>
    <div class="container mt-5" >
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
                <h1>A great book should leave you with many experiences, and slightly exhausted at the end. You live
                    several lives while reading.</h1>
            </div>
            <div class="col d-flex ">
                <img class="img1" src="images/mainbook3.jpg" alt="">
            </div>

        </div>
    </div>
    
    <%- include("partials/footer.ejs") %>