<%- include("partials/header.ejs") %>

<div class="containerf">
    <div class="form-container">
      <% if(text){ %>
        <div class="alert alert-primary" role="alert"><%= text %></div>
          
       
        <% } %>
          <form action="/userLogin" method="post">
            <h2 class="sans">Login</h2>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <% if(passwordFail){ %>
              
              <div class="alert alert-danger" role="alert">Wrong Password</div>
              <% } %>
                

                  <button type="submit" class="btn btn-primary">Login</button>
          </form>
          <br>
          <% if(notFound){ %>

          <div class="alert alert-danger" role="alert">No account found with this email. <br>  Go to Sign Up Page and register first <br>
          </div>
          <form action="/signupFromMain" method="get">
            <button type="submit" class="btn btn-primary">Go To Sign Up Page</button>
          </form>   
          
          <% } %>
    </div>
  </div>
<%- include("partials/footer.ejs") %>