<%- include("partials/header.ejs") %>

<nav class="navbar fixed-top py-3 navbar-expand-lg">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 mx-4 noto" href="#">
            <img src="/images/favicon.ico" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            The Book Vault
        </span>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active mx-4 sans" aria-current="page" href="#">Home</a>
                <a class="nav-link mx-4 sans" href="#">About Us</a>
                <form action="/userList" method="post">
                    <input type="text" name="userName" value = "<%= userName %>" id="" hidden>
                    <button class="btn btn-primary mx-2 sans" href="/userList">My List</a>
                </form>
                
            </div>
        </div>
    </div>
</nav>
<div class="row mt-5 pt-5 bgimg">

    <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
        <h2 class="ps-4 noto">Hi <%= userName %>. <br> Here you can find your saved books !!! </h2>
    </div>

</div>
<div class="mainBody px-4">

    <div class="findBook my-5 py-5 px-5" id="findbook">
        <h1 class="noto text-center mb-5">Your List</h1>
        
    </div>
</div>


<%- include("partials/footer.ejs") %>