@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@500&family=Open+Sans&display=swap');



* {
    margin: 0;
    padding: 0;
    
}

.noto {

    font-family: 'Noto Serif', serif;
}

.sans {
    font-family: 'Open Sans', sans-serif;

}

.navbar {
    background-color: white;
}


.width-50 {
    width: 50%;
}

.bgimg {
    background: url('images/final3.jpg') center center/cover;
    height: 60vh;
    width: 100%;
    /* overflow: hidden;  */
}

.card img{
    height: 25vh;
    width: 10vw;
}

.carousel{
    height: 60vh;
}
.carousel-item .row{
    width: 80%;
}

@media only screen and (max-width:767px)
{
        .disp-hidden{
            display: none;
        }
}

.blue{
    background-color: var(--bs-primary);
    color: white;
}
.hover-blue{
    transition: all 0.2s ease-in-out;
}
.hover-blue:hover{
    background-color: var(--bs-primary);
    color: white;
}


.faq{
    background-color: #f1f7fd;
    
}

.accordion{
    width: 75%;
    margin: auto;

}




/*login,signup*/
.containerf {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 0 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  } */
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  .genderInput {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 16px;
  }
  
  textarea{
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 16px;
}


.login-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.findBook{
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    
}
.findBook .input-group{
    width: 50%;
    margin: auto;
}

.findBook button{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    font-size: 16px;
}

.card{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.disp-none{
    display: none;
}